/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 300px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}

/* header */
header {
    text-align: center;
}
/* /header */

/* main */
.result {
    background-color: black;
    color: rgba(9, 210, 151, 1);
    font-family: "seven segment";
    font-size: 40px;
    text-align: right;
    padding: 20px;
}
.keyboard {
  display: flex;
  width: 100%;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  column-gap: 5px;
  row-gap: 5px;
}
.operation {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  column-gap: 5px;
  row-gap: 5px;
}
.key {
  width: calc(100%/3);
  font-size: 20px;
  background-color: rgba(187, 187, 187, 1);
  border: 0px;
  border-radius: 5px;
  height: 50px;
}
.zero {
  width: calc(100%/2);
}
.simbol {
  width: 100%;
  background-color: rgba(119, 168, 176, 1);
  color: white;
  border: 0px;
}
.special {
  background-color: rgba(255, 159, 10, 1);
  color: white;
}
