/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 500px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0 auto;
    margin-top: 50px;

    border-radius: 10px;
}

/* header */
header {
    text-align: center;
}
/* /header */

/* main */
  .result {
    background-color: black;
    color: rgba(9, 210, 151, 1);
    font-family: "seven segment";
    font-size: 40px;
    text-align: right;
    padding: 20px;
    
  }
  
  .item {
    color: rgba(9, 210, 151, 1);
    font-family: "seven segment";
    font-size: 30px;
    margin: 15px;
  }
.column {
  display: flex;
  flex-direction: column;
  width: calc(100%/2);
  
  /* width: 50px;
  height: 80px; */
}
.col {
  width: 60px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(187, 187, 187, 1);
  border: 0px;
  border-radius: 5px;
  
  
}
.special{
  width: calc(100%/2)
}
.operation {
  width: 50px;
  height: 40px;
  font-size: 15;
  background-color: rgba(119, 168, 176, 1);
  color: white;
  border: 0px;
}
.orange {
  background-color: rgba(255, 159, 10, 1);
  color: white;
}
/* /main */